aiobotocore==2.23.0
aiofiles==25.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aioitertools==0.13.0
aiosignal==1.4.0
alembic==1.15.2
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
asyncpg==0.31.0
attrs==26.1.0
botocore==1.38.27
click==8.5.0
fastapi==0.141.1
frozenlist==1.8.0
greenlet==3.5.6 ; platform_machine == 'AMD64' or platform_machine == 'WIN32' or platform_machine == 'aarch64' or platform_machine == 'amd64' or platform_machine == 'ppc64le' or platform_machine == 'win32' or platform_machine == 'x86_64'
grpcio==1.71.0
h11==0.16.0
idna==3.20
jmespath==1.1.0
mako==1.4.1
markupsafe==3.0.3
multidict==6.9.0
propcache==0.5.4
protobuf==5.29.6
pydantic==2.13.5
pydantic-core==2.46.5
pydantic-settings==2.15.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.32
six==1.17.0
sqlalchemy==2.0.54
sqlmodel==0.0.42
starlette==1.6.0
typing-extensions==4.16.0
typing-inspection==0.4.4
urllib3==2.8.0
uvicorn==0.53.0
wrapt==1.17.3
yarl==1.25.1
